.relative {
  position: relative;
}
.order-number {
  position: absolute;
  right: -8px;
  top: -8px;
  display: flex;
  height: 20px;
  width: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: var(--color-shop_dark_green, #063c28);
}
