.icon {
  color: var(--color-darkColor);
}

.icon:hover {
  color: var(--color-shop-light-green);
  transition: color 0.3s ease;
}

.sideMenu-hidden {
  @media (min-width: 768px) {
    display: none;
  }
}
