.container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

@media (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.item {
  display: flex;
  padding: 16px;
  gap: 12px;
  align-items: center;
  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.item:hover {
  background-color: #f3f4f6;
}

.paragrapf {
  margin-top: 4px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-lightColor);
}

.paragrapf:hover {
  color: var(--color-destructive);
}

.item-h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: var(--color-lightColor);
}

.container-footer {
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-lightColor);
}

.title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: var(--color-lightColor);
}

.link:hover {
  color: var(--color-shop-light-green);
}

.footerGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 32px;
  padding-top: 48px;
  padding-bottom: 48px;
}

@media (min-width: 768px) {
  .footerGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .footerGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.spaceY4 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.listContainer {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  color: var(--color-lightColor);
}
